.buttonCreate {
    margin: 30px 0;
}

.button {
    --bg: #fafafa;
    --hover-bg: #198754;
    --hover-text: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    margin-bottom: 15px;
    text-decoration: none;
    margin-top: 15px;
}

.button:hover {
        color: var(--hover-text);
        transform: translate(-0.25rem, -0.25rem);
        background: var(--hover-bg);
        box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
        transform: translate(0);
        box-shadow: none;
}
