@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row card bg-dark rounded-4" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center">Crud em ASP.NET</h1>
        <hr class="text-success"/>
        <p class="lead mt-3 text-center"> Olá, este é um projeto em ASP.NET feito durante as aulas, entendendo os fundamentos do ASP.NET.</p>
    </section>
</main>